@import "mixin";
@import "vars";

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  background-color: $light;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}


.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1em;
}

.wrapper-inner {
  max-width: 845px;
  margin: 0 auto;
  padding: 0 1em;
}

span {
  @include font-label($purple);
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  @include font-h1;
}

h2 {
  @include font-h2;
}

.card-post__description {
  @include font-text($medium-grey);
}

.card-post__label {
  @include font-label($dark-grey);
}

.card-post__title {
  @include font-h3;
}

.card-post__subtitle {
  @include font-caps;
}

.big-title {
  @include font-h2;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}