@import 'vars';
@import 'mixin';

.feature-post {
  width: 100%;
  padding: 5.8em 5em;
  background-color: $lavender;

  .post {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .card-post {
    width: 30%;

    &__title {
      margin-top: 1.1em;
    }

    &__label {
      margin-top: 1em;
    }

    &__description {
      margin-top: 1em;
      margin-bottom: 2em;
    }
  }
}

.blog-posts {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    align-self: flex-start;
  }

  hr {
    margin: 2em auto 4em;
    width: 100%;
    border: 1px solid rgba($medium-grey, 0.32);
    border-bottom-width: 0;
  }

  .posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
  }

  .card-post {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    &__text {
      width: 50%;
    }

    &__subtitle {
      color: $purple;
    }

    &__title {
      margin-top: 1.1em;
    }

    &__description {
      margin-top: 1em;
    }
  }

  &__button {
    margin-top: 4.3em;

    .button__back {
      @include font-h4($medium-grey);
      @include button-arrow-hover;
    }

    .button__next {
      @include font-h3;
      @include button-arrow-hover;
    }
  }
}
