@use "sass:color";
@import "mixin", "vars";

.button {
  padding: 1em 3em;
  border: none;

  @include font-button;

  color: $black;
  background-color: $yellow;

  &:hover {
    background-color: color.scale($yellow, $lightness: -20%);
  }
}