@import 'mixin';
@import 'vars';

.feedback {
  margin: 8em auto;

  &__title {
    margin-top: 0.5em;
  }

  &__description {
    margin-top: 1em;
  }

  .additional-information-box {
    margin-top: 4em;
    background-color: $purple;
    display: flex;
    gap: 42px;
    padding: 3em 4em;

    hr {
      margin: 1em auto;
      width: 100%;
      border: 1px solid rgba($light, 0.1);
      border-bottom-width: 0;
    }

    .information__title {
      @include font-text-small(rgba($light, 0.6));
    }

    .information__text, .information__text a {
      @include font-h5($light);
    }

    .information__description, .information__description a {
      @include font-text(rgba($light, 0.6))
    }
  }

  .feedback-form__box {
    margin-top: 2em;

    input, select, .form-control {
      width: 100%;
      padding: 1em;
      margin-bottom: 1em;

      @include font-text($black);

      border-radius: 2px;
      border: 1px solid rgba($black, 0.50);
    }

    select {
      padding: 1.4em;
    }

    .button {
      width: 100%;
    }

  }
}