@import 'mixin';
@import 'vars';

.invitation {
  max-width: 420px;
  width: 100%;
  margin: 8em auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    @include font-h2;

    text-align: center;
  }

  &__description {
    @include font-text;

    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
  }
}