@import 'mixin';
@import 'vars';

.page-post {
  margin-top: 13em;
  display: flex;
  flex-direction: column;

  &__box {
    margin: 0 auto;
  }

  .profile {
    margin-bottom: 1.5em;
    padding: 0 2.3em;
    display: flex;
    align-items: center;

    &__image {
      margin-right: 1em;
    }

    &__title {
      @include font-h3($purple);
    }

    &__description {
      @include font-text($medium-grey);
    }
  }

  &__title {
    padding: 0 0.8em;
  }

  .category-label {
    padding: 0 2.3em;
    margin-top: 2.3em;
    display: flex;
    align-items: center;

    &__title {
      @include font-h4;
    }
  }

  &__image {
    margin: 4em auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .content__title {
    @include font-h2;

    margin-top: 2em;

    &:first-child {
      margin-top: 0;
    }
  }

  .content__text {
    @include font-text($medium-grey);

    margin-top: 1em;
  }

  .content__list {
    list-style: disc;
    margin: 1.5em;
  }

  .content__item {
    @include font-h4(rgba($black, 0.78))
  }
}

.other-posts {
  margin-top: 8em;

  .posts__box {
    margin-top: 4em;
    display: flex;
    gap: 32px;
  }

  .card-post {
    display: flex;
    flex-direction: column;

    &__label {
      margin-top: 2em;
    }

    &__title {
      margin-top: 0.8em;
    }

    &__description {
      margin-top: 1em;
    }
  }

  hr {
    margin: 4em auto;
    width: 100%;
    border: 1px solid rgba($medium-grey, 0.32);
    border-bottom-width: 0;
  }
}