.button {
  padding: 1em 3em;
  border: none;
  cursor: pointer;
  font-family: Sen, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.33;
  color: #232536;
  background-color: #ffd050;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ffbe0d;
}
