.category {
  margin-top: 8em;
}

.category__box {
  margin-top: 2em;
  display: flex;
  gap: 30px;
}

.category .card-post {
  padding: 2em;
  border: 1px solid rgb(109 110 118 / 30%);
  transition: background-color 0.3s ease;
}

.category .card-post:hover {
  background-color: #ffd050;
}

.category .card-post__image img {
  background-color: #fbf6ea;
  border-radius: 10px;
}

.category .card-post__title {
  margin-top: 0.8em;
}
