html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  background-color: #E5E5E5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1em;
}

.wrapper-inner {
  max-width: 845px;
  margin: 0 auto;
  padding: 0 1em;
}

span {
  font-family: Sen, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.43;
  color: #592EA9;
}

.header {
  max-width: 100%;
  padding: 1.5em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232536;
}

.box-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu__list-item {
  display: inline-block;
  margin: 1.5em;
}

.menu__list-link {
  font-family: Sen, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  color: #FFF;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  padding: 3.68em 5em 3.5em;
  background-color: #232536;
  align-items: center;
}

.footer__navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__subscribe {
  width: 100%;
  margin-top: 3.43em;
  padding: 5em 4em;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.subscribe__title {
  width: 30%;
  font-family: Sen, sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -2px;
  color: #FFF;
}

.subscribe__input {
  width: 60%;
  text-align: end;
  font-family: Sen, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  color: #6D6E76;
}
.subscribe__input input {
  max-width: 325px;
  margin-right: 1.5em;
  border: 1px solid #6D6E76;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.875em 1.5em;
  color: #FFF;
}

.footer__contact {
  width: 100%;
  margin-top: 3.2em;
  display: flex;
  justify-content: space-between;
}

.contact__text, .contact__text > a {
  font-family: Sen, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  color: #FFF;
  opacity: 0.7;
}

.item-social {
  display: inline-block;
  margin-right: 1.68em;
}
.item-social:last-child {
  margin-right: 0;
}

.button {
  padding: 1em 3em;
  border: none;
  font-family: Sen, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.33;
  color: #232536;
  background-color: #FFD050;
}
.button:hover {
  background-color: #ffbe0d;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero {
  height: 90dvh;
  background: url("/src/images/hero.png") no-repeat center center, radial-gradient(80.99% 71.93% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  background-size: cover;
}
.hero > .card-post {
  width: 60%;
  position: relative;
  top: 20%;
  left: 10%;
}
.hero > .card-post > .card-post__subtitle {
  font-family: Sen, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFF;
}
.hero > .card-post > .card-post__subtitle span {
  color: #FFF;
  font-weight: 700;
}
.hero > .card-post > .card-post__title {
  margin-top: 0.6em;
  font-family: Sen, sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: -2px;
  color: #FFF;
  width: 35%;
}
.hero > .card-post > .card-post__label {
  margin-top: 1.5em;
}

/*# sourceMappingURL=style.css.map */
