html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  background-color: #FFF;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1em;
}

.wrapper-inner {
  max-width: 845px;
  margin: 0 auto;
  padding: 0 1em;
}

span {
  font-family: Sen, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.43;
  color: #592EA9;
}

h2 {
  font-family: Sen, sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -2px;
  color: #232536;
}

.card-post__description {
  font-family: Sen, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  color: #6D6E76;
}

.card-post__label {
  font-family: Sen, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.43;
  color: #4C4C4C;
}

.card-post__title {
  font-family: Sen, sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -1px;
  color: #232536;
}

.card-post__subtitle {
  font-family: Sen, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
}

.big-title {
  font-family: Sen, sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -2px;
  color: #232536;
}

.header {
  max-width: 100%;
  padding: 1.5em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232536;
}

.box-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu__list-item {
  display: inline-block;
  margin: 1.5em;
}

.menu__list-link {
  font-family: Sen, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  color: #FFF;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  padding: 3.68em 5em 3.5em;
  background-color: #232536;
  align-items: center;
}

.footer__navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__subscribe {
  width: 100%;
  margin-top: 3.43em;
  padding: 5em 4em;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer__subscribe .subscribe__title {
  width: 30%;
  font-family: Sen, sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -2px;
  color: #FFF;
}
.footer__subscribe .subscribe__input {
  width: 60%;
  text-align: end;
  font-family: Sen, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  color: #6D6E76;
}
.footer__subscribe .subscribe__input input {
  max-width: 325px;
  margin-right: 1.5em;
  border: 1px solid #6D6E76;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.875em 1.5em;
  color: #FFF;
}

.footer__contact {
  width: 100%;
  margin-top: 3.2em;
  display: flex;
  justify-content: space-between;
}
.footer__contact .contact__text, .footer__contact .contact__text > a {
  font-family: Sen, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  color: #FFF;
  opacity: 0.7;
}
.footer__contact .item-social {
  display: inline-block;
  margin-right: 1.68em;
}
.footer__contact .item-social:last-child {
  margin-right: 0;
}

.button {
  padding: 1em 3em;
  border: none;
  font-family: Sen, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.33;
  color: #232536;
  background-color: #FFD050;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #ffbe0d;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero {
  height: 90dvh;
  background: radial-gradient(80.99% 71.93% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("/src/images/hero.png") no-repeat center center;
  background-size: cover;
}
.hero > .card-post {
  width: 80%;
  position: relative;
  top: 20%;
  left: 10%;
}
.hero > .card-post > .card-post__subtitle {
  font-family: Sen, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFF;
}
.hero > .card-post > .card-post__subtitle span {
  color: #FFF;
  font-weight: 700;
}
.hero > .card-post > .card-post__title {
  margin-top: 0.6em;
  font-family: Sen, sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: -2px;
  color: #FFF;
  width: 35%;
}
.hero > .card-post > .card-post__label {
  margin-top: 1em;
  font-family: Sen, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  color: #FFF;
}
.hero > .card-post > .card-post__label > span {
  color: #FFD050;
}
.hero > .card-post > .card-post__description {
  margin: 1em 0 2em;
  width: 31%;
  font-family: Sen, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  color: #FFF;
}

.featured-post {
  margin-top: 8em;
  display: flex;
  gap: 30px;
}
.featured-post .post {
  width: 48%;
}
.featured-post .post > .card-post {
  margin-top: 2em;
  padding: 2em;
  border: 1px solid rgba(109, 110, 118, 0.1);
}
.featured-post .post .card-post__label {
  margin-top: 2em;
}
.featured-post .post .card-post__title {
  margin-top: 0.8em;
}
.featured-post .post .card-post__description {
  margin-top: 1.5em;
}
.featured-post .post .button {
  margin-top: 1.5em;
}
.featured-post .all-posts {
  width: 48%;
}
.featured-post .all-posts .title-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.featured-post .all-posts__link {
  font-family: Sen, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  color: #592EA9;
}
.featured-post .all-posts__box {
  margin-top: 2em;
  padding: 0.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featured-post .all-posts__box > .card-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 2em 1.56em;
  transition: background-color 0.3s ease;
}
.featured-post .all-posts__box > .card-post:hover {
  background-color: #FBF6EA;
}
.featured-post .all-posts__box .card-post__title {
  width: 60%;
  font-family: Sen, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.33;
  color: #232536;
}

.about-hero {
  margin-top: 9em;
}
.about-hero__box {
  position: relative;
  display: flex;
  gap: 30px;
  background-color: #F4F0F8;
}
.about-hero__box::after {
  position: absolute;
  content: "";
  top: -23px;
  right: 0;
  width: 80%;
  height: 23px;
  background: linear-gradient(to left, #592EA9 50%, #FFD050 50%);
}
.about-hero__box > .card-post {
  width: 45%;
  padding: 6em 0 6em 5em;
}
.about-hero__box .card-post__title {
  margin-top: 1em;
}
.about-hero__box .card-post__description {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.about-hero__box__link {
  font-family: Sen, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.77;
  color: #592EA9;
}

.category {
  margin-top: 8em;
}
.category__title {
  text-align: center;
}
.category__box {
  margin-top: 2em;
  display: flex;
  gap: 30px;
}
.category .card-post {
  padding: 2em;
  border: 1px solid rgba(109, 110, 118, 0.3);
  transition: background-color 0.3s ease;
}
.category .card-post:hover {
  background-color: #FFD050;
}
.category .card-post__image img {
  background-color: #FBF6EA;
  border-radius: 10px;
}
.category .card-post__title {
  margin-top: 0.8em;
}

.special-post {
  margin-top: 8em;
  position: relative;
}
.special-post .card-post {
  position: absolute;
  top: 8.3em;
  left: 46%;
  opacity: 0.99;
  background-color: #FFF;
  width: 60%;
  padding: 5em;
  display: flex;
  flex-direction: column;
}
.special-post .card-post .card-post__title {
  margin-top: 0.6em;
  font-family: Sen, sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -2px;
  color: #232536;
}
.special-post .card-post .card-post__description {
  margin-top: 0.6em;
}
.special-post .card-post .button {
  margin-top: 1em;
  width: 50%;
}

.authors {
  margin-top: 8em;
}
.authors__title {
  text-align: center;
}
.authors__box {
  margin-top: 3em;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.authors .author-card {
  padding: 2.5em 1.75em;
  width: 300px;
  background-color: #F4F4F4;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.authors .author-card__title {
  font-family: Sen, sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -1px;
  color: #232536;
  margin-top: 1em;
}
.authors .author-card__description {
  font-family: Sen, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.43;
  color: #232536;
}
.authors .author-card__list-social {
  margin-top: 1em;
}
.authors .author-card__item-social {
  display: inline-block;
  margin-right: 1.68em;
}
.authors .author-card__item-social:last-child {
  margin-right: 0;
}
.authors .author-card:hover {
  background-color: #FBF6EA;
}

.logo-component {
  margin-top: 8em;
  width: 100%;
  display: flex;
}
.logo-component__label {
  font-family: Sen, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.43;
  color: #6D6E76;
}
.logo-component__label span {
  font-family: Sen, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.33;
  color: #6D6E76;
}
.logo-component__box {
  margin-left: 5em;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 74px;
}

/*# sourceMappingURL=style.css.map */
